<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-question-circle" ></i> About...</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="styles/images/OC-logo_horizontal_colors-03-web.svg"  onerror="this.src='styles/images/OC-logo_horizontal_colors-03-web.png'" height="80px" />
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row text-center">
      <h4>This online tool is part of the opencare project, a research project firmly committed to radical openness.
        <br>For more information, consult the project website <a href="www.opencare.cc">Opencare.cc</a>,
        <br>get accointained with the complete <a href="https://edgeryders.eu/en/opencare-research/welcome-to-opencare">project workspace</a>
        <br>or visit the <a href="https://github.com/opencarecc"><i class="fa fa-github"></i> GitHub page</a>.</h4>
    </div>
    <div class="row">
      <div class="text-center">
      <h3>Partners</h3>
        <div class="col-lg-12" >
            <img src="styles/images/OC-EC-H2020.jpg" height="100px" /><br> <h4>This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 688670</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <div class="col-lg-2" >
            <a href="http://edgeryders.eu/company/home"><img src="styles/images/Partners_logos/OC-logo_edgeryders_02.png" height="80px" /></a>
        </div>
        <div class="col-lg-2" >
            <a href="https://www.comune.milano.it/wps/portal/ist/en"><img src="styles/images/Partners_logos/OC-logo_comunedimilano.jpg" height="80px" /></a>
        </div>
        <div class="col-lg-2" >
            <a href="http://www.scimpulse.org/"><img src="styles/images/Partners_logos/OC-logo_scimpulse.png" height="80px" /></a>
        </div>
        <div class="col-lg-2" >
            <a href="https://www.hhs.se/"><img src="styles/images/Partners_logos/OC-logo_stockholmschoolofeconomics_01.png" height="80px" /></a>
        </div>
        <div class="col-lg-2" >
            <a href="https://www.u-bordeaux.fr/"><img src="styles/images/Partners_logos/OC-logo_universitedebordeaux.svg" height="80px" /></a>
        </div>
        <div class="col-lg-2" >
            <a href="http://wemake.cc/"><img src="styles/images/Partners_logos/OC-logo_wemake.png" height="80px" /></a>
        </div>
      </div>
    </div>
    <!-- /.row -->
</div>
