<div class="about animated fadeIn">
  <br/>  
  <div class="card about">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="images/OC-logo_horizontal_colors-03-web.png" onerror="this.src='/images/OC-logo_horizontal_colors-03-web.png'" height="80px">
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row text-center">
      <h4 class="col">This online tool is part of the opencare project, a research project firmly committed to radical openness.
        <br>For more information, consult the project website <a href="www.opencare.cc">Opencare.cc</a>,
        <br>get acquainted with the complete <a href="https://edgeryders.eu/en/opencare-research/welcome-to-opencare">project workspace</a>
        <br>or visit the <a href="https://github.com/opencarecc"><i class="fa fa-github"></i> GitHub page</a>.</h4>
    </div>
    <div class="row">
      <div class=" col text-center">
        <h3>Partners</h3>
        <img src="images/OC-EC-H2020.jpg" height="100px">
        <h4>This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 688670</h4>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-2">
        <a href="http://edgeryders.eu/company/home"><img src="images/Partners_logos/OC-logo_edgeryders_02.png" height="80px"></a>
      </div>
      <div class="col-lg-2">
        <a href="https://www.comune.milano.it/wps/portal/ist/en"><img src="images/Partners_logos/OC-logo_comunedimilano.jpg" height="80px"></a>
      </div>
      <div class="col-lg-2">
        <a href="http://www.scimpulse.org/"><img src="images/Partners_logos/OC-logo_scimpulse.png" height="80px"></a>
      </div>
      <div class="col-lg-2">
        <a href="https://www.hhs.se/"><img src="images/Partners_logos/OC-logo_stockholmschoolofeconomics_01.png" height="80px"></a>
      </div>
      <div class="col-lg-2">
        <a href="https://www.u-bordeaux.fr/"><img src="images/Partners_logos/OC-logo_universitedebordeaux.svg" height="80px"></a>
      </div>
      <div class="col-lg-2">
        <a href="http://wemake.cc/"><img src="images/Partners_logos/OC-logo_wemake.png" height="80px"></a>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-lg-12" >
        <h3 class="w-100">Technologies</h3>
        <h4>This solution is available thanks to the following technologies:</h4>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-12">
        <h4>Web dashboard:</h4>
      </div>
      <div class="col-lg-4" >
          <a href="https://www.w3schools.com/html/"><img src="images/techno/HTML5_logo_and_wordmark.svg.png" height="80px" /></a>
      </div>
      <div class="col-lg-4" >
          <a href="https://www.w3schools.com/css/"><img src="images/techno/CSS3_logo_and_wordmark.svg.png" height="80px" /></a>
      </div>
      <div class="col-lg-4" >
          <a href="https://www.w3schools.com/js/"><img src="images/techno/js.png" height="80px" /></a>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-lg-12">
        <h4>Graph database and deployment:</h4>
      </div>
      <div class="col-lg-4" >
          <a href="https://neo4j.com/"><img src="images/techno/neo4j-logo-2015.png" height="80px" /></a>
      </div>
      <div class="col-lg-4" >
          <a href="https://boltprotocol.org/"><img src="images/techno/boltprotocol.png" height="80px" /></a>
      </div>
      <div class="col-lg-4" >
          <a href="https://www.docker.com/"><img src="images/techno/Docker_(container_engine)_logo.svg.png" height="80px" /></a>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-lg-12">
        <h4>Web service, graph computation and visualisation:</h4>
      </div>
      <div class="col-lg-4" >
          <a href="https://python.org/"><img src="images/techno/Python_logo_and_wordmark.svg.png" height="80px" /></a>
      </div>
      <div class="col-lg-4" >
          <a href="http://flask.pocoo.org/"><img src="images/techno/flask.png" height="80px" /></a>
      </div>
      <div class="col-lg-4" >
          <a href="http://tulip.labri.fr"><img src="images/techno/tulip.png" height="80px" /></a>
      </div>
    </div>
  
  </div>
  <br><br>
</div>

