<div class="animated fadeIn">
  <div id="{{infoPanelParent}}" style="z-index:1000" ></div>
  <div class="row">
    <div class="col">
        <div class="card bg-gray-800">
            <div class="card-header card-header-compact">
                <button id="interactorUserNavigate" class="btn btn-primary" title="Navigate the graph" data-title="Navigate the graph" ng-click="setInteractorUserNavigate()"><i class="fa fa-mouse-pointer"></i></button>
                <button id="interactorUserLasso" class="btn btn-default" title="Selection of multiples nodes" data-title="Selection of multiple nodes" ng-click="setInteractorUserLasso()"><i class="fa fa-circle-thin" aria-hidden="true"></i></button>
                <button id="interactorUserInfo" class="btn btn-default" title="Show details about the elements (Ctrl + Click on element)" data-title="Show details about the elements" ng-click="setInteractorUserInfo()"><i class="fa fa-eye" aria-hidden="true"></i></button>
                <button id="interactorUserDragNode" class="btn btn-default" title="Manually move nodes" data-title="Manually move nodes" ng-click="setInteractorUserDragNode()"><i class="fa fa-arrows"></i></button>
                
              <div class="pull-right">
                    <div class="ml-auto pull-right">
                        <button id="interactorUserUnion" class="btn btn-primary" title="Match any selected users" data-title="Match any selected users" ng-click="setInteractorUserUnion()">&cup;</button>
                        <button id="interactorUserIntersect" class="btn btn-default" title="Match all selected users" data-title="Match all selected users" ng-click="setInteractorUserIntersect()">&cap;</button>

                        <general-search
                          template-url="scripts/directives/search/user_search.html"
                          sugest = "suggestionsUser"
                          >
                        </general-search>
                    </div>      
              </div>
            </div>
            <div class="card-body">
              <sigma-js
                graph="usersGraphSigmaDetangler"
                s = "s_user"
                lasso = "lasso_user"
                id="user-graph"
                width="100%" height="600px"
                threshold={{nodeUserelThreshold}}
                edge-labels="userel"
                metric-min-filter={{filter_occurence_min}}
                metric-max-filter={{filter_occurence_max}}
                show-node-filter={{toShow}}
                interactor={{userinteractor}}
                event-catcher="eventCatcher"
                max-node-size=4
                default-edge-hover-color="#20a8d8"
                default-label-color="#20a8d8"
                 >
              </sigma-js>
            </div>
            <div class="card-footer">
              <div>Display label on nodes: None &nbsp; <div id="node-label-user-intensity-slider" class="inline-slider"> <input type="text" class="slider range-1"></div> &nbsp; All</div>
              

              <div class="switcher">Remove community managers 
                <label class="switch switch-text switch-pill switch-success switch-sm">
                  <input type="checkbox" class="switch-input" ng-model="isCheckedUser" ng-change="setInteractorUserRemoveManagers(isCheckedUser)">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>&nbsp;&nbsp;
                <span>Show neighbourhood</span>
                <label class="switch switch-text switch-pill switch-success switch-sm">
                  <input type="checkbox" class="switch-input" ng-model="isCheckedShowNeighbourUser" ng-change="setInteractorShowNeighbour(s_user, isCheckedShowNeighbourUser)">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              <div class="pull-right">
                  <button id="interactorUserLayoutPlay" class="btn btn-primary" title="Play the algorithm" ng-click="setInteractorLayoutPlayFruchterman(s_user)"><i class="fa fa-play" aria-hidden="true"></i></button>
                  <button id="interactorUserLayoutReset" class="btn btn-success" title="Reset the layout" ng-click="setInteractorLayoutReset(s_user)"><i class="fa fa-undo" aria-hidden="true"></i></button>
              </div>
              </div>
            </div>
        </div>                    
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="card bg-gray-800">
            <div class="card-header card-header-compact">
              <button id="interactorTagNavigate" class="btn btn-primary" title="Navigate the graph" data-title="Navigate the graph" ng-click="setInteractorTagNavigate()"><i class="fa fa-mouse-pointer"></i></button>
              <button id="interactorTagLasso" class="btn btn-default" title="Selection of multiples nodes" data-title="Selection of multiple nodes" ng-click="setInteractorTagLasso()"><i class="fa fa-circle-thin" aria-hidden="true"></i></button>
              <button id="interactorTagInfo" class="btn btn-default" title="Show details about the elements (Ctrl + Click on element)" data-title="Show details about the elements" ng-click="setInteractorTagInfo()"><i class="fa fa-eye" aria-hidden="true"></i></button>
              <button id="interactorTagDragNode" class="btn btn-default" title="Manually move nodes" data-title="Manually move nodes" ng-click="setInteractorTagDragNode()"><i class="fa fa-arrows"></i></button>

                
              <div class="pull-right">
                <div class="ml-auto pull-right">
                  <button id="interactorTagUnion" class="btn btn-primary" title="Match any selected tags" data-title="Match any selected tags" ng-click="setInteractorTagUnion()">&cup;</button>
                  <button id="interactorTagIntersect" class="btn btn-default" title="Match all selected tags" data-title="Match all selected tags" ng-click="setInteractorTagIntersect()">&cap;</button>

                  <general-search
                    template-url="scripts/directives/search/tag_search.html"
                    sugest = "suggestionsTag"
                    >
                  </general-search>
                </div>      
              </div>
            </div>
            <div class="card-body">
              <sigma-js
                graph="tagsGraphSigmaDetangler"
                s="s_tag"
                lasso = "lasso_tag"
                id="tag-graph"
                width="100%" height="600px"
                threshold={{nodeTagelThreshold}}
                metric-filter="occ"
                event-catcher="eventCatcher"
                edge-labels="tagel"
                interactor={{taginteractor}}
                max-node-size=6
                default-edge-hover-color="#20a8d8"
                default-label-color="#20a8d8"
                >
              </sigma-js>
            </div>
            <div class="card-footer">

              <div>Display label on nodes: None &nbsp; <div id="node-label-tag-intensity-slider"  class="inline-slider"> <input type="text" class="slider range-1"></div> &nbsp; All</div>
              <div>Co-occurrence intensity: Weak &nbsp;  <div id="coocurrence-intensity-slider-range" class="inline-slider"> <input type="text" class="slider range-2"></div> &nbsp; Strong</div>
              <div class="switcher">
                <span>Show neighbourhood</span>
                <label class="switch switch-text switch-pill switch-success switch-sm">
                  <input type="checkbox" class="switch-input" ng-model="isCheckedShowNeighbourTag" ng-change="setInteractorShowNeighbour(s_tag, isCheckedShowNeighbourTag)">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              <div class="pull-right">
                <button id="interactorTagLayoutPlay" class="btn btn-primary" title="Play the algorithm" ng-click="setInteractorLayoutPlayFruchterman(s_tag)"><i class="fa fa-play" aria-hidden="true"></i></button>
                <button id="interactorTagLayoutReset"class="btn btn-success" title="Reset the layout" ng-click="setInteractorLayoutReset(s_tag)"><i class="fa fa-undo" aria-hidden="true"></i></button>
              </div>
              </div>
            </div>
        </div>                    
    </div>
  </div>
  <div class="row">  
    <div class="col">
        <div class="card bg-gray-800">
            <div class="card-header card-header-compact">
              <button id="interactorPostNavigate" class="btn btn-primary" title="Navigate the graph" data-title="Navigate the graph" ng-click="setInteractorPostNavigate()"><i class="fa fa-mouse-pointer"></i></button>
              <button id="interactorPostLasso" class="btn btn-default" title="Selection of multiples nodes" data-title="Selection of multiple nodes" ng-click="setInteractorPostLasso()"><i class="fa fa-circle-thin" aria-hidden="true"></i></button>
              <button id="interactorPostInfo" class="btn btn-default" title="Show details about the elements (Ctrl + Click on element)" data-title="Show details about the elements" ng-click="setInteractorPostInfo()"><i class="fa fa-eye" aria-hidden="true"></i></button>
              <button id="interactorPostDragNode" class="btn btn-default" title="Manually move nodes" data-title="Manually move nodes" ng-click="setInteractorPostDragNode()"><i class="fa fa-arrows"></i></button>
                
              <div class="pull-right">
                <div class="ml-auto pull-right">
                    <button id="interactorPostUnion" class="btn btn-primary" title="Match any selected posts" data-title="Match any selected posts" ng-click="setInteractorPostUnion()">&cup;</button>
                    <button id="interactorPostIntersect" class="btn btn-default" title="Match all selected posts" data-title="Match all selected posts" ng-click="setInteractorPostIntersect()">&cap;</button>

                    <general-search
                      template-url="scripts/directives/search/post_search.html"
                      sugest = "suggestionsPost"
                      >
                    </general-search>
                </div>      
              </div>
            </div>
            <div class="card-body">
              <sigma-js
                graph="postGraphSigmaDetangler"
                s = "s_post"
                lasso = "lasso_post"
                id="post-graph"
                width="100%" height="600px"
                threshold={{nodePostelThreshold}}
                edge-labels="postel"
                metric-min-filter={{filter_occurence_min}}
                metric-max-filter={{filter_occurence_max}}
                show-node-filter={{toShow}}
                interactor={{postinteractor}}
                event-catcher="eventCatcher"
                max-node-size=4
                default-edge-hover-color="#20a8d8"
                default-label-color="#20a8d8"
                >
              </sigma-js>
            </div>
            <div class="card-footer">
              <div>Display label on nodes: None &nbsp; <div id="node-label-post-intensity-slider" class="inline-slider"> <input type="text" class="slider range-1"></div> &nbsp; All</div>
              <div class="switcher">
                <span>Show neighbourhood</span>
                <label class="switch switch-text switch-pill switch-success switch-sm">
                  <input type="checkbox" class="switch-input" ng-model="isCheckedShowNeighbourPost" ng-change="setInteractorShowNeighbour(s_post, isCheckedShowNeighbourPost)">
                  <span class="switch-label" data-on="On" data-off="Off"></span>
                  <span class="switch-handle"></span>
                </label>
              <div class="pull-right">
                <button id="interactorPostLayoutPlay" class="btn btn-primary" title="Play the algorithm" ng-click="setInteractorLayoutPlayFruchterman(s_post)"><i class="fa fa-play" aria-hidden="true"></i></button>
                <button id="interactorPostLayoutReset"class="btn btn-success" title="Reset the layout" ng-click="setInteractorLayoutReset(s_post)"><i class="fa fa-undo" aria-hidden="true"></i></button>
              </div>
              </div>
            </div>
        </div>                    
    </div>
  </div>
</div>

