<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <line-chart height="200" data="time_data" call-back="extent" ></line-chart>
                    Start date: {{selected.start}}
                    End date: {{selected.end}}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-6" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw" ></i> Global view <input type="checkbox" ng-model="globalel" > labels on egdes
                    <form ng-submit="drawGraph()">
                        algo :
                        <select ng-model="layoutChoice">
                            <option ng-repeat="option in layout" value="{{option}}">{{option}}</option>
                        </select>
                        <input type="submit" value="go" />
                    </form>
                    <p>Alt + Click on User (blue node) to view post type in metrics window</p>
                    <p> Alt + Shift + Click to add user and compare with previous</p>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <sigma-js
                            graph="globalGraphSigma"
                            width="100%" height="600px"
                            edge-labels="globalel"
                            threshold=10
                            event-catcher="eventCatcher"
                            locate="locate"
                            time-filter="filter" >
                    </sigma-js>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-6" id="radar-chart">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Posts type of {{postType.series}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <canvas id="area" class="chart chart-radar" data="postType.data" labels="postType.labels" series="postType.series" legend="true" ></canvas>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-6" id="bar-chart">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Posts type of {{postType.series}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" data="postType.data" labels="postType.labels" series="postType.series" legend="true" ></canvas>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
</div>
