<div class="animated fadeIn">
  <div id="{{infoPanelParent}}" style="z-index:1000" ></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-gray-800">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-lg-12">
              <div class="row">
                <div class="col">
                  <div class="callout callout-cyan">
                    <small class="text-muted">Users</small>
                    <br>
                    <strong class="h2">{{ DBStatus['Users'] }}</strong>
                  </div>
                </div>
                <!--/.col-->
                <div class="col">
                  <div class="callout callout-green">
                    <small class="text-muted">Posts</small>
                    <br>
                    <strong class="h2">{{ DBStatus['Posts'] }}</strong>
                  </div>
                </div>
                <!--/.col-->
                <div class="col">
                  <div class="callout callout-yellow">
                    <small class="text-muted">Comments</small>
                    <br>
                    <strong class="h2">{{ DBStatus['Comments'] }}</strong>
                  </div>
                </div>
                <!--/.col-->
                <div class="col">
                  <div class="callout callout-indigo">
                    <small class="text-muted">Annotations</small>
                    <br>
                    <strong class="h2">{{ DBStatus['Annotations'] }}</strong>
                  </div>
                </div>
                <!--/.col-->
                <div class="col">
                  <div class="callout callout-red">
                    <small class="text-muted">Tags</small>
                    <br>
                    <strong class="h2">{{ DBStatus['Tags'] }}</strong>
                  </div>
                </div>
                <!--/.col-->
              </div>
              <!--/.row-->
              <hr class="mt-0">
              <div class="activity-container">
                <time-line height="200" data="time_data" call-back="extent" ></time-line>
                <div class="activity-footer d-flex  flex-row">
                  <div class="p-2">
                    <b>Start Date</b>: {{selected.start}}
                  </div>
                  <div class="p-2">
                    <b>End Date</b>: {{selected.end}}
                  </div>
                  <div class="ml-auto p-2"><button class="btn btn-primary btn-sm" ng-click="resetTimeLine()">Reset</button></div>
                </div>
              </div>
            </div>
          </div>
          <!--/.row-->
          <br>
          <div id="word_cloud_container" class="wordcloud">
            <canvas id="word_cloud" class="word_cloud"></canvas>
          </div>
          
          <!--br>
          <div id="radar-chart">
            <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="area" class="chart chart-radar" data="postType.data" labels="postType.labels" series="postType.series" legend="true" ></canvas>
                </div>
            </div>
          </div-->
          
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  <!--div class="row">
      <div class="col-lg-7" >
          <div class="panel panel-default">
              <div class="panel-heading">
                  <i class="fa fa-clock-o fa-fw" ></i> Global view <input type="checkbox" ng-model="globalel" > labels on egdes
                  <form ng-submit="drawGraph()">
                      algo :
                      <select ng-model="layoutChoice">
                          <option ng-repeat="option in layout" value="{{option}}">{{option}}</option>
                      </select>
                      <input type="submit" value="go" />
                  </form>
              </div>
              <div class="panel-body">
                  <sigma-js
                          graph="globalGraphSigma"
                          width="100%" height="600px"
                          edge-labels="globalel"
                          threshold=20
                          event-catcher="eventCatcher"
                          locate="locate"
                          time-filter="filter"
                          default-edge-hover-color="#20a8d8"
                          default-label-color="#20a8d8" >
                  </sigma-js>
              </div>
          </div>
      </div>
      <div class="col-lg-5">
          <div class="panel panel-default">
              <div class="panel-body"><canvas id="word_cloud" class="word_cloud" width="600px" height="400px"></canvas>
              </div>
          </div>
      </div>
      <div class="col-lg-6" id="radar-chart">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <i class="fa fa-clock-o fa-fw"></i> Posts type of {{postType.series}}
              </div>
              <div class="panel-body">
                  <canvas id="area" class="chart chart-radar" data="postType.data" labels="postType.labels" series="postType.series" legend="true" ></canvas>
              </div>
          </div>
      </div>
      <div class="col-lg-6" id="bar-chart">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <i class="fa fa-clock-o fa-fw"></i> Posts type of {{postType.series}}
              </div>
              <div class="panel-body">
                  <canvas id="bar" class="chart chart-bar" data="postType.data" labels="postType.labels" series="postType.series" legend="true" ></canvas>
              </div>
          </div>
      </div>
  </div-->


  <div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="card bg-gray-800">
            <div class="card-header">
                Latest Posts
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-dark table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Author</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="post in latest_posts" >
                                <td><a ng-click="openInfoPanel('post', post.post_id)" >{{ post.post_label }}</a></td>
                                <td>{{ getDate(post.timestamp) }}</td>
                                <td><a ng-click="openInfoPanel('user', post.user_id)">{{ post.user_label }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card bg-gray-800">
            <div class="card-header">
                Latest Comments
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-dark table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Author</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="comment in latest_comments" >
                                <td><a ng-click="openInfoPanel('comment', comment.comment_id)">{{ comment.comment_label }}</a></td>
                                <td>{{ getDate(comment.timestamp) }}</td>
                                <td><a ng-click="openInfoPanel('user', comment.user_id)">{{ comment.user_label }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
