<div>
    <!--div class="row">
        <div class="col-lg-12">
            <h5> Color code:
                <button class="btn btn-primary" style="opacity: 1;" ng-click="openInfoPanel('all users', 0)">Users</button>
                <button class="btn btn-success" style="opacity: 1;" ng-click="openInfoPanel('all posts', 0)">Posts</button>
                <button class="btn btn-warning" style="opacity: 1;" ng-click="openInfoPanel('all comments', 0)">Comments</button>
                <button class="btn btn-danger" style="opacity: 1;" ng-click="openInfoPanel('all tags', 0)">Tags</button>
            </h5>
            <br>Drawing directive: <input type="checkbox" ng-model="requestFullTagGraph" ng-click="switchTagGraph()" > return complete tag-tag graph (slower)
        </div>
        <!-- /.col-lg-12 -->
    <div id="{{infoPanelParent}}" style="z-index:1000" ></div>
    &nbsp;
    </div-->
    <div class="row">
        <div class="col-lg-6" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw" ></i> Global view &nbsp;&nbsp; <input type="checkbox" ng-model="tagnl" ng-click="switchForceNodeLabel()"> &nbsp;+<input type="range" value="10" max="10" style="width: 80px; display: inline-block;" ng-model="nodelabelthreshold">- &nbsp; labels on nodes &nbsp;&nbsp; <input type="checkbox" ng-model="tagel" > labels on egdes
                    <br>Drawing directive: <input type="checkbox" ng-model="requestFullTagGraph" ng-click="switchTagGraph()" > return complete tag-tag graph (slower)
                    <form ng-submit="drawGraph()">
                        algo :
                        <select ng-model="layoutChoice">
                            <option ng-repeat="option in layout" value="{{option}}">{{option}}</option>
                        </select>
                        <input type="submit" value="go" />
                    </form>
                    <div>
                        <button id="interactorNavigate" class="btn btn-primary" title="Navigate the graph" ng-click="setInteractorNavigate()"><i class="fa fa-mouse-pointer"></i></button>
                        <button id="interactorInformation" class="btn btn-default" title="Show details about the elements -- Ctrl + Click on element" ng-click="setInteractorInformation()"><i class="fa fa-eye"></i></button>
                        <button id="interactorFocus" class="btn btn-default" title="Change the view's focus -- Shift + Click on element" ng-click="setInteractorFocus()"><i class="fa fa-crosshairs"></i></button>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <sigma-js
                            graph="tagGraphSigma"
                            width="100%" height="600px"
                            edge-labels="tagel"
                            threshold={{nodelabelthreshold}}
                            event-catcher="eventCatcher"
                            locate="locate"
                            time-filter="filter" >
                    </sigma-js>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <time-line height="200" data="time_data" call-back="extent" ></time-line>
                    <div class="pull-left">Start date: {{selected.start}}
                    &nbsp;&nbsp;End date: {{selected.end}}</div>
                    <div class="pull-right"><button class="btn btn-default text-right" ng-click="resetTimeLine()" >Reset</button></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6" ng-show="showTagCommonContent">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <div class="pull-left" ng-show="showTagCommonContent">Content about <button class="btn btn-danger" ng-click="openInfoPanel('tag', tag_src.id)" ><i class="fa fa-tag"></i></button> <label>{{ tag_src.label }}</label> and <button  class="btn btn-danger" ng-click="openInfoPanel('tag', tag_dst.id)" ><i class="fa fa-tag"></i></button> <label>{{ tag_dst.label }}</label>.</div> <div class="pull-right"><button class="btn btn-default" ng-click="showTagCommonContent=false" >Clear</button></div>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Content</th>
                                <th>Date</th>
                                <th></th>
                                <th>Author</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="elem in content" >
                                <td>
                                    <button ng-show="elem.entity_type=='comment'" class="btn btn-warning" ng-click="openInfoPanel('comment', elem.id)" ><i class="fa fa-comments-o"></i></button>
                                    <button ng-show="elem.entity_type=='post'" class="btn btn-success" ng-click="openInfoPanel('post', elem.id)" ><i class="fa fa-commenting"></i></button>
                                </td>
                                <td>{{ elem.label }}</td>
                                <td>{{ getDate(elem.timestamp) }}</td>
                                <td>
                                    <button class="btn btn-primary" ng-click="openInfoPanel('user', elem.user_id)" ><i class="fa fa-user"></i></button>
                                </td>
                                <td>{{ elem.user_label }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form ng-submit="updateTagTable()">
                        <select ng-model="tableSizeChoice">
                            <option ng-repeat="val in ['10','25','100']" value="{{val}}">{{val}}</option>
                        </select>
                        <input type="submit" value="go" />
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Tag</th>
                                <th># Mentions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="tag in tags" >
                                <td>
                                    <button class="btn btn-danger" ng-click="generateGraph(tag.id)" ><i class="fa fa-tag"></i></button>
                                </td>
                                <td>{{ tag.label }}</td>
                                <td>{{ tag.count }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>
