<div class="tag-search">
    <div class="input-group custom-search-form">
        <form ng-submit="submit()" >
            <input
                    type="text"
                    class="form-control"
                    placeholder="Search a Tag..."
                    uib-typeahead="sugess as sugess.label for sugess in suggestionsTag | filter:{label:$viewValue} | limitTo:8"
                    ng-model="tag_search"
                    ng-disabled="suggestionsTag.length == 0" >
        </form>
        <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search" ng-click="submit()" ></i>
                </button>
            </span>
    </div>
</div>
