<!-- panel for tag -->
    <div class="panel-body">
        <uib-tabset justified="true">
            <uib-tab index="0" heading="Posts ({{::tag.posts.length}})" disable="::tag.posts.length == 0">
                <div class="table-responsive" style="max-height: 400px; overflow: auto;" >
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th></th>
                        <th>Author</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="post in ::tag.posts" >
                        <td>
                            <button id="{{ ::post.post_id }}" class="btn btn-success btn-sm" ng-click="openInfoPanel('post', $event)" ><i class="fa fa-commenting-o" aria-hidden="true"></i></button>
                        </td>
                        <td> {{::post.post_title}}</td>
                        <td>
                            <button id="{{ ::post.user_id }}" class="btn btn-primary btn-sm" ng-click="openInfoPanel('user', $event)" ><i class="fa fa-user" aria-hidden="true"></i></button>
                        </td>
                        <td>{{ ::post.user_name }}</td>
                        <td>{{ getDate(post.post_timestamp) }}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Comments ({{::tag.comments.length}})" disable="::tag.comments.length == 0" >
                <div class="table-responsive" style="max-height: 400px; overflow: auto;" >
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th></th>
                        <th>Author</th>
                        <!--<th>Post</th>-->
                        <th>Date</th>
                    </tr>
                     </thead>
                    <tbody>
                    <tr ng-repeat="comment in ::tag.comments" >
                        <td>
                            <button id="{{ ::comment.comment_id }}" class="btn btn-warning btn-sm" ng-click="openInfoPanel('comment', $event)" ><i class="fa fa-comments-o" aria-hidden="true"></i></button>
                        </td>
                        <td> {{::comment.comment_title }} </td>
                        <td>
                            <button id="{{ ::comment.user_id }}" class="btn btn-primary btn-sm" ng-click="openInfoPanel('user', $event)" ><i class="fa fa-user" aria-hidden="true"></i></button>
                        </td>
                        <td>{{ ::comment.user_name }}</td>
                        <td>{{ getDate(comment.comment_timestamp) }}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

