<div class="panel-body">
  <div class="table-responsive" style="height: 300px; width: 500px; overflow: auto;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Content</th>
          <th>Date</th>
          <th></th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="elem in content.list" >
          <td>
            <button ng-show="elem.entity_type=='comment'" class="btn btn-warning" data-click-id="{{::elem.id}}" ng-click="openInfoPanel('comment', $event)" ><i class="fa fa-comments-o"></i></button>
            <button ng-show="elem.entity_type=='post'" class="btn btn-success" data-click-id="{{::elem.id}}" ng-click="openInfoPanel('post', $event)" ><i class="fa fa-commenting"></i></button>
          </td>
          <td>{{ elem.label }}</td>
          <td>{{ getDate(elem.timestamp) }}</td>
          <td>
            <button class="btn btn-primary" data-click-id="{{::elem.user_id}}" ng-click="openInfoPanel('user', $event)" ><i class="fa fa-user"></i></button>
          </td>
          <td>{{ elem.user_label }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
